.latest-uploads.p-20.bg-white.rad-10
  h2.mt-0.mb-20 Latest uploads
  ul.m-0
    li.between-flex.pb-10.mb-10
      .d-flex.align-center
        img.ms-10(src='./assets/img/pdf.svg' alt='')
        div
          span.d-block my-file.pdf
          span.fs-15.c-grey Elzero
      .bg-eee.btn-shape.fs-13 2.9mb
    li.between-flex.pb-10.mb-10
      .d-flex.align-center
        img.ms-10(src='./assets/img/avi.svg' alt='')
        div
          span.d-block My-Video-File.avi
          span.fs-15.c-grey Admin
      .bg-eee.btn-shape.fs-13 4.9mb
    li.between-flex.pb-10.mb-10
      .d-flex.align-center
        img.ms-10(src='./assets/img/psd.svg' alt='')
        div
          span.d-block My-Psd-File.pdf
          span.fs-15.c-grey Osama
      .bg-eee.btn-shape.fs-13 4.5mb
    li.between-flex.pb-10.mb-10
      .d-flex.align-center
        img.ms-10(src='./assets/img/zip.svg' alt='')
        div
          span.d-block My-Zip-File.pdf
          span.fs-15.c-grey User
      .bg-eee.btn-shape.fs-13 8.9mb
    li.between-flex.pb-10.mb-10
      .d-flex.align-center
        img.ms-10(src='./assets/img/dll.svg' alt='')
        div
          span.d-block My-DLL-File.pdf
          span.fs-15.c-grey Admin
      .bg-eee.btn-shape.fs-13 4.9mb
    li.between-flex
      .d-flex.align-center
        img.ms-10(src='./assets/img/eps.svg' alt='')
        div
          span.d-block My-Eps-File.pdf
          span.fs-15.c-grey Designer
      .bg-eee.btn-shape.fs-13 8.9mb
