.latest-news.p-20.bg-white.rad-10.text-c-mobile
  h2.mt-0.mb-20 Tickets Statistics

  .news-row.d-flex.align-center
    img(src="/assets/img/news-01.png" alt="news")
    .info
      h3 Created SASS Section
      p.m-0.fs-14.c-grey New SASS Examples &and; Tutorials
    .btn-shape.bg-eee.fs-13.label 3 Days Ago

  .news-row.d-flex.align-center
    img(src="/assets/img/news-02.png" alt="news")
    .info
      h3 Changed The Design
      p.m-0.fs-14.c-grey A Brand New Website Design
    .btn-shape.bg-eee.fs-13.label 5 Days Ago

  .news-row.d-flex.align-center
    img(src="/assets/img/news-03.png" alt="news")
    .info
      h3 Team Increased
      p.m-0.fs-14.c-grey 3 Developers Joined The Team
    .btn-shape.bg-eee.fs-13.label 7 Days Ago

  .news-row.d-flex.align-center
    img(src="/assets/img/news-04.png" alt="news")
    .info
      h3 Added Payment Gateway
      p.m-0.fs-14.c-grey Many New Payment Gateways Added
    .btn-shape.bg-eee.fs-13.label 9 Days Ago