div(class="target p-20 bg-white rad-10")
  h2(class="mt-0 mb-10") Yearly Targets
  p(class="mt-0 mb-20 c-grey fs-15") Lorem ipsum dolor sit amet consectetur adipisicing elit.
  div(class="target-row mb-10 blue center-flex")
    div(class="icon center-flex")
      i(class="fa-solid fa-dollar-sign fa-lg c-blue")
      div(class="details")
        span(class="fs-14 c-grey") Money
        span(class="d-block mt-5 mb-10 fw-bold") $20,000
        div(class="progress p-relative")
          span(class="bg-blue blue", style="width: 40%") #[span(class="bg-blue") 40%]