div(class="targets p-20 bg-white rad-10")
  h2(class="mt-0 mb-10") Yearly Targets
  p(class="mt-0 mb-20 c-grey fs-15") Lorem ipsum dolor sit amet consectetur adipisicing elit.

  div(class="target-row mb-10 blue d-flex align-center")
    div(class="icon center-flex")
      i(class="fa-solid fa-dollar-sign fa-lg c-blue")
    div(class="details")
      span(class="fs-14 c-grey") Money
      span(class="d-block mt-5 mb-10 fw-bold") $20,000
      div(class="progress p-relative")
        span(class="bg-blue blue" style="width: 80%") #[span(class="bg-blue") 80%]

  div(class="target-row mb-10 orange d-flex align-center")
    div(class="icon center-flex")
      i(class="fa-solid fa-code fa-lg c-orange")
    div(class="details")
      span(class="fs-14 c-grey") Projects
      span(class="d-block mt-5 mb-10 fw-bold") 24
      div(class="progress p-relative")
        span(class="bg-orange orange" style="width: 55%") #[span(class="bg-orange") 55%]

  div(class="target-row mb-10 green d-flex align-center")
    div(class="icon center-flex")
      i(class="fa-solid fa-user fa-lg c-green")
    div(class="details")
      span(class="fs-14 c-grey") Team
      span(class="d-block mt-5 mb-10 fw-bold") 12
      div(class="progress p-relative")
        span(class="bg-green green" style="width: 75%") #[span(class="bg-green") 75%]