.tasks.p-20.bg-white.rad-10
  h2.mt-0.mb-20 Latest Tasks

  .task-row.d-flex.between-flex
    .info
      h3.mt-0.mb-5.fs-15 Record one new video
      p.m-0.c-grey Record python create exe project
    i.fa-regular.fa-trash-can.delete

  .task-row.d-flex.between-flex
    .info
      h3.mt-0.mb-5.fs-15 Write Article
      p.m-0.c-grey Write Low Level vs High Level Languages
    i.fa-regular.fa-trash-can.delete

  .task-row.d-flex.between-flex
    .info
      h3.mt-0.mb-5.fs-15 Finish Project
      p.m-0.c-grey Publish Academy Programming Project
    i.fa-regular.fa-trash-can.delete

  .task-row.d-flex.between-flex.done
    .info
      h3.mt-0.mb-5.fs-15 Attend The Meeting
      p.m-0.c-grey Attend The Project Business Analysis Meeting
    i.fa-regular.fa-trash-can.delete

  .task-row.d-flex.between-flex
    .info
      h3.mt-0.mb-5.fs-15 Finish Lesson
      p.m-0.c-grey Finish Teaching Flex Box
    i.fa-regular.fa-trash-can.delete