.search-items.p-20.bg-white.rad-10
  h2.mt-0.mb-20 Top Search Items

  .items-head.d-flex.space-between.c-grey.mb-10
    div Keywords
    div Search counts
  .items.d-flex.space-between.pt-15.pb-15
    span programming
    span.bg-eee.fs-13.btn-shape 220
  .items.d-flex.space-between.pt-15.pb-15
    span JavaScript
    span.bg-eee.fs-13.btn-shape 180
  .items.d-flex.space-between.pt-15.pb-15
    span PHP
    span.bg-eee.fs-13.btn-shape 160
  .items.d-flex.space-between.pt-15.pb-15
    span Code
    span.bg-eee.fs-13.btn-shape 145
  .items.d-flex.space-between.pt-15.pb-15
    span Design
    span.bg-eee.fs-13.btn-shape 110
  .items.d-flex.space-between.pt-15.pb-15
    span Logic
    span.bg-eee.fs-13.btn-shape 95