div(class="welcome bg-white rad-10 text-c-mobile d-block-mobile")
  div(class="intro p-20 d-flex space-between bg-eee gap-20 d-block-mobile")
    div
      h2(class="m-0") welcome
      p(class="c-grey mt-5") Lorem ipsum dolor sit amet consectetur adipisicing elit.
    img(class="d-none-mobile" src="/assets/img/welcome.png", alt="img")
  img(class="avatar" src="./assets/img/avatar.png", alt="img")
  div(class="body text-c d-flex p-20 mt-20 mb-20 d-block-mobile")
    div Osama Elzero #[span(class="d-block c-grey fs-14 mt-10") Developer]
    div 80 #[span(class="d-block c-grey fs-14 mt-10") Projects]
    div $8500 #[span(class="d-block c-grey fs-14 mt-10") Earned]
  a(class="visit d-block fs-14 bg-blue c-white w-fit btn-shape" href="profile.html") Profile