div(class="head bg-white p-15 between-flex")
	div(class="search p-relative")
		input(class="p-10" type="search", name="search", placeholder="search...",autocomplete="off")
	div(class="icons d-flex align-center")
		span(class="notification p-relative")
			i(class="fa-regular fa-bell fa-lg")
		img(src="./assets/img/avatar.png" alt="img")