div(class="sidebar bg-white p-20 p-relative")
	h3(class="p-relative text-c mt-0") Elzero
	ul
		li
			a(class="active d-flex align-center fs-14 c-black rad-6 p-10" href="./index.html")
				i(class="fa-regular fa-chart-bar fa-fw")
				span Dashboard
			a(class="d-flex align-center fs-14 c-black rad-6 p-10" href="./pages/settings.html")
				i(class="fa-solid fa-gear fa-fw")
				span Settings
			a(class="d-flex align-center fs-14 c-black rad-6 p-10" href="./pages/profile.html")
				i(class="fa-regular fa-user fa-fw")
				span Profile
			a(class="d-flex align-center fs-14 c-black rad-6 p-10" href="./pages/projects.html")
				i(class="fa-solid fa-diagram-project fa-fw")
				span Projects
			a(class="d-flex align-center fs-14 c-black rad-6 p-10" href="./pages/courses.html")
				i(class="fa-solid fa-graduation-cap fa-fw")
				span Courses
			a(class="d-flex align-center fs-14 c-black rad-6 p-10" href="./pages/friends.html")
				i(class="fa-regular fa-circle-user fa-fw")
				span Friends
			a(class="d-flex align-center fs-14 c-black rad-6 p-10" href="./pages/files.html")
				i(class="fa-regular fa-file fa-fw")
				span Files
			a(class="d-flex align-center fs-14 c-black rad-6 p-10" href="./pages/plans.html")
				i(class="fa-regular fa-credit-card fa-fw")
				span Plans
