div(class="sidebar bg-white p-20 p-relative")
	h3(class="p-relative text-c mt-0") Elzero world
	ul
		li
			a(href="index.html" class="active d-flex align-center fs-14 c-black rad-6 p-10")
				i(class="fa-regular fa-chart-bar fa-fw")
				span Dashboard