div(class="wrapper d-grid gap-20")
  include ./widgets/_welcome.pug
  include ./widgets/_quick_draft.pug
  include ./widgets/_targets.pug
  include ./widgets/_tickets.pug
  include ./widgets/_latest_news.pug