.sidebar {
  width: 250px;
  box-shadow: map-get($map: $colors, $key: shadow);

  @include smMax {
    width: 62px;
    padding: 10px;
  }

  > h3 {
    margin-bottom: 50px;

    @include smMax {
      margin-bottom: 15px;
    }

    &::before,
    &::after {
      content: '';
      transform: translateX(-50%);
      #{$left}: 50%;
      position: absolute;
      background-color: black;
    }

    &::before {
      width: 80px;
      height: 2px;
      bottom: -20px;
    }

    &::after {
      bottom: -29px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 4px solid white;
    }
  }

  ul {
    li {
      a {
        transition: map-get($map: $transition, $key: time);
        margin-bottom: 5px;

        &:hover,
        &.active {
          background-color: map-get($map: $colors, $key: active);
        }

        span {
          font-size: 14px;
          margin-#{$left}: 10px;

          @include smMax {
            display: none;
          }
        }
      }
    }
  }
}
