.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-#{$left}: 20px;
  margin-#{$right}: 20px;

  @include smMax {
    grid-template-columns: minmax(200px, 1fr);
    margin-#{$left}: 10px;
    margin-#{$right}: 10px;
    gap: 10px;
  }
}

@import '../widgets/_welcome.scss';
@import '../widgets/_quick_draft.scss';
@import '../widgets/_targets.scss';
@import '../widgets/_tickets.scss';
