// box
$states: grid, flex, block, none;

@each $state in $states {
  .d-#{$state} {
    display: $state;

    &-mobile {
      @include smMax {
        display: $state;
      }
    }
  }
}

.gap-20 {
  gap: 20px;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

// padding + margin
.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-0 {
  margin: 0;
}

// colors
.bg-white {
  background: white;
}

.bg-eee {
  background: map-get($map: $colors, $key: eee);
}

.bg-blue {
  background: map-get($map: $colors, $key: blue);
}

.c-white {
  color: white;
}

.c-black {
  color: black;
}

.c-grey {
  color: map-get($map: $colors, $key: grey);
}

// position
.p-relative {
  position: relative;
}

// font
.text-c {
  text-align: center;

  &-mobile {
    @include smMax {
      text-align: center;
    }
  }
}

.fs-14 {
  font-size: 14px;
}

// border
.rad-6 {
  border-radius: 6px;
}

.rad-10 {
  border-radius: 10px;
}

// media
@include smMax {
  .hide-mobile {
    display: none;
  }
}

// Start Width + Height
.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

// components
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-shape {
}
