// box
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

// padding + margin
.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

// colors
.bg-white {
  background: white;
}

.c-black {
  color: black;
}

// position
.p-relative {
  position: relative;
}

// font
.text-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

// border
.rad-6 {
  border-radius: 6px;
}

// media
@include smMax {
  .hide-mobile {
    display: none;
  }
}
