// box
$states: grid, flex, block, none;

@each $state in $states {
  .d-#{$state} {
    display: $state;

    &-mobile {
      @include smMax {
        display: $state;
      }
    }
  }
}

.gap-20 {
  gap: 20px;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

// padding + margin
$nums: 0, 5, 10, 15, 20;

@each $num in $nums {
  .p-#{$num} {
    padding: $num + #{'px'};
  }
}

@each $num in $nums {
  .m-#{$num} {
    margin: $num + #{'px'};
  }
}

@each $num in $nums {
  .mt-#{$num} {
    margin-top: $num + #{'px'};
  }
}

@each $num in $nums {
  .mb-#{$num} {
    margin-bottom: $num + #{'px'};
  }
}

// colors
$all: white, black, eee, blue, grey, orange, green, red;

@each $one in $all {
  #{'.bg-' + $one} {
    background-color: map-get($map: $colors, $key: $one);
  }
}

@each $one in $all {
  #{'.c-' + $one} {
    color: map-get($map: $colors, $key: $one);
  }
}

// position
.p-relative {
  position: relative;
}

// font
.text-c {
  text-align: center;

  &-mobile {
    @include smMax {
      text-align: center;
    }
  }
}

$fontSizes: 12, 13, 14, 15, 25;

@each $fz in $fontSizes {
  #{'.fs-' + $fz} {
    font-size: #{$fz + 'px'};
  }
}

.fw-bold {
  font-weight: bold;
}

// border

$rads: 6, 10;

@each $rad in $rads {
  #{'.rad-' + $rad} {
    border-radius: #{$rad + 'px'};
  }
}

.b-none {
  border: none;
}

// media
@include smMax {
  .hide-mobile {
    display: none;
  }
}

// Start Width + Height
.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

// components
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
